@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 50px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  width: 100%;
  max-width: 430px;
  margin-left: 100px;
  text-decoration: none;
  font-size: 20px;
  color: #7342d6;
  justify-content: space-between;
  
}

.navbar .logo {
  height: 40px;
  width: 150px;
}

.content-wrapper {
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.nav__container {
    width: 100%;
    max-width: 1200px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 24px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    justify-content: space-around;
}

.logo {
    width: 200px;
}

.links {
    justify-content: space-between;
}