@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 8px 8px;
    margin-top: 24px;
}
ul {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: 45px;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 48px;
    text-decoration: none; 
    font-size: 20px;
    color: rgba(93, 12, 152, 0.952);
    font-weight: bold;
    padding: 8px;

    
    
}

.purple {
        color: rgba(93, 12, 152, 0.952);

}

 .nav__link__btn {
            background-color: purple;  
            color: white;               
            border: none;               
            border-radius: 35px;      
            padding: 10px 24px;       
            cursor: pointer;          
            font-size: 16px;          
            margin-left: 56px;
            font-weight: 700;
            letter-spacing: 2px;
        }

        .nav__link__btn:hover {
            background-color: darkviolet; 
        }

 h1 {
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: rgba(93, 12, 152, 0.952);
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px;
 }    

 h2 {
    margin-bottom: 30px;
 }

 #landing-page {
   justify-content: center;
 }
 
 .content__wrapper {
    display: flex;
    flex-direction: column  ;
    margin:  64px;
    width: 100%;
    max-width: 1200px;
justify-content: center;
 }

 div {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .input__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
 }

 #searchbar {
    border-radius: 20px;
    height: 70px;
    width: 100%;
    border: 1px solid;
 }