@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 8px 8px;
}
ul {
    display: flex;
}

.logo {
    width: 150px;
    height: 45px;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 48px;
    text-decoration: none; 
    font-size: 20px;
    color: rgba(93, 12, 152, 0.952);
    font-weight: bold;
    padding: 8px;

    
    
}

 .nav__link__btn {
            background-color: purple;   /* Gives a purple background */
            color: white;               /* Makes the text white */
            border: none;               /* Removes the default border */
            border-radius: 15px;       /* Makes the button rounded */
            padding: 10px 20px;        /* Adds some space inside the button */
            cursor: pointer;            /* Changes the cursor to a pointer */
            font-size: 16px;           /* Adjusts the font size */
        }

        .nav__link__btn:hover {
            background-color: darkviolet; /* Changes color when hovering over it */
        }